# Auto detect text files and perform LF normalization
* text=auto

# Rust files
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.exe binary
*.so binary
*.dylib binary
*.dll binary